/* ------------------------------GENERAL ------------------------------*/
/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
/*---------- FICHA -------------*/
.listPriceValue {
  font-family: "Poppins";
  color: #848484;
  font-size: 18px;
  font-weight: 400;
  line-height: 135.9%;
  margin-bottom: 10px;
  display: flex;
}

.savings {
  font-family: "Poppins";
  align-self: center;
  margin-left: 14px;
  color: #0b0b6d;
  font-size: 16px;
  font-weight: 600;
  line-height: 135.9%;
}

/* ------------------------------DESKTOP ------------------------------*/
/* ------------------------------TABLET -------------------------------*/
@media screen and (max-width: 768px) {
  .listPriceValue {
    font-size: 20px;
  }
  .sellingPriceValue {
    font-size: 30px;
  }
  .savings {
    margin-left: 16px;
  }
  .listPrice {
    margin-bottom: 0;
  }
}
/* ------------------------------MOBILE -------------------------------*/
/*---------- FICHA -------------*/
