/* ------------------------------GENERAL ------------------------------*/
/* FICHA */
/* product-specification and description */
.trigger--trigger-specification-and-description--visible::after {
  content: "";
  background: url(assets/icons/arrow-description-black-icon.svg) no-repeat center center;
  width: 17px;
  min-width: 17px;
  height: 17px;
  min-height: 17px;
}

.trigger--trigger-specification-and-description--hidden::after {
  content: "";
  background: url(assets/icons/arrow-description-black-icon.svg) no-repeat center center;
  transform: rotate(180deg);
  width: 17px;
  min-width: 17px;
  height: 17px;
  min-height: 17px;
}

.trigger--trigger-specification-and-description {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  display: flex;
  padding: 0;
  margin-bottom: 15px;
}

.content--content-specification-and-description {
  padding: 0 0 50px;
}

/* ------------------------------DESKTOP ------------------------------*/
/* ------------------------------TABLET -------------------------------*/
@media screen and (max-width: 768px) {
  /* product-specification and description */
  .trigger--trigger-specification-and-description--visible::after {
    content: "";
    background: url(assets/icons/arrow-description-icon.svg) no-repeat center center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
  }
  .trigger--trigger-specification-and-description--hidden::after {
    content: "";
    background: url(assets/icons/arrow-description-icon.svg) no-repeat center center;
    transform: rotate(180deg);
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
  }
  .trigger--trigger-specification-and-description {
    border-color: #848484;
  }
}
/* ------------------------------MOBILE- ------------------------------*/
@media screen and (max-width: 639px) {
  /* FICHA */
}
