@import '../VARS.scss';

.imageElement--footer-curve {
    width: 100vw;
    margin-bottom: -2px;
}

.imageElement--facebook-footer,
.imageElement--instagram-footer,
.imageElement--youtube-footer,
.imageElement--tiktok-footer {
    margin-right: 0.5rem;
}
