.emailInputContainer--footer-newsletter {
    margin: 0.5rem 0;
    max-width: 160px;
    :global(.vtex-input-prefix__group) {
        height: 30px;
        background: #fff;
        :global(.vtex-styleguide-9-x-input) {
            font-size: 10.634px;
            font-weight: 400;
            &::placeholder {
                color: #333;
            }
        }
    }
}

.formSubmitContainer--footer-newsletter {
    :global(.vtex-button) {
        border-radius: 32.51px;
        background: #0b0b6d;
        width: 84px;
        min-height: 22px;
        padding: 5px 9px;
        font-size: 10px;
        font-weight: 700;
    }
}

:global(.vtex-flex-layout-0-x-flexCol--footer-mobile) {
    .newsletterForm--footer-newsletter {
        margin-top: 2rem;
        :global(.vtex-rich-text-0-x-paragraph--footer-cols__text) {
            font-weight: 500;
        }
    }

    .emailInputContainer--footer-newsletter {
        max-width: 100%;
        :global(.vtex-input-prefix__group) {
            height: 45px;
        }
    }

    .formSubmitContainer--footer-newsletter {
        margin-top: 0.7rem;
        :global(.vtex-button) {
            width: 100%;
            font-size: 14px;
        }
    }
}
