@import '../VARS.scss';

:global(.vtex-flex-layout-0-x-flexCol--footer-mobile) {
    .trigger--question {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $third-gray;
    }
    .content {
        padding: 0.5rem 0 1rem 0.3rem;
    }
}
