/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
.paragraph--rich-text-home {
  font-size: 1.87rem;
  color: #3e3e3e;
}

:global(.vtex-flex-layout-0-x-flexRow--tab-layout-products-double) .paragraph--tab-layout-text {
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .paragraph--banner-title-doble-image_title {
    font-size: 14px;
  }
  .strong--banner-title-doble-image_title {
    font-size: 20px;
  }
}
