/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
:global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-sliderTrackContainer--slider-products-bg) {
  padding: 0;
}
@media (max-width: 768px) {
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) {
    max-width: 180px !important;
    padding: 0 !important;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-sliderTrackContainer--slider-products-bg) {
    padding: 5px 0;
    overflow: hidden;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-sliderTrackContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-slide--slider-products-bg) {
    margin: 0;
    justify-content: center;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-sliderTrackContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-slide--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-slideChildrenContainer--slider-products-bg) {
    width: fit-content;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-right-home) :global(.madeofpartnerar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-sliderTrackContainer--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-slide--slider-products-bg) :global(.madeofpartnerar-slider-layout-0-x-slideChildrenContainer--slider-products-bg) :global(.vtex-product-summary-2-x-containerNormal--product-shelf) {
    margin: 0;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) {
  margin: 0 auto 4rem;
  display: flex;
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  max-width: 1180px;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):first-child {
  grid-area: 1/1/3/2;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):first-child :global(.vtex-store-components-3-x-imageElement--images-grid) {
  max-height: 658px !important;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(2) {
  grid-area: 1/2/2/3;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(2) :global(.vtex-store-components-3-x-imageElement--images-grid) {
  max-height: 314px !important;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(3) {
  grid-area: 1/3/2/4;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(3) :global(.vtex-store-components-3-x-imageElement--images-grid) {
  max-height: 314px !important;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):last-child {
  grid-area: 2/2/3/4;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):last-child :global(.vtex-store-components-3-x-imageElement--images-grid) {
  max-height: 314px !important;
}
:global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch) :global(.vtex-store-components-3-x-imageElement--images-grid) {
  border-radius: 25px;
}
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 228px 162px 150px;
    gap: 10px 0px;
    grid-template-areas: "a a" "b c" "d d";
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch) {
    height: fit-content;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch) :global(.vtex-slider-layout-0-x-sliderLayoutContainer--images-grid) {
    height: fit-content;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):first-child {
    grid-area: a;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):first-child :global(.vtex-store-components-3-x-imageElement--images-grid) {
    max-height: 240px !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(2) {
    grid-area: b;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(2) :global(.vtex-store-components-3-x-imageElement--images-grid) {
    max-height: 160px !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(3) {
    grid-area: c;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):nth-child(3) :global(.vtex-store-components-3-x-imageElement--images-grid) {
    max-height: 160px !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):last-child {
    grid-area: d;
  }
  :global(.vtex-flex-layout-0-x-flexRow--images-grid-render) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--images-grid-render) :global(.items-stretch):last-child :global(.vtex-store-components-3-x-imageElement--images-grid) {
    max-height: 220px !important;
  }
}

:global(.madeofpartnerar-componentes-0-x-managerChildContent--bg-grid-left-home) :global(.madeofpartnerar-slider-layout-0-x-caretIcon--slider-products-bg) {
  filter: none;
}

:global(.vtex-flex-layout-0-x-flexRow--tab-layout-products-double) :global(.vtex-product-summary-2-x-containerNormal--product-shelf) {
  height: 100%;
}

:global(.render-route-store-custom-landings-special-bosch) :global(.madeofpartnerar-componentes-0-x-container_background_component) :global(.madeofpartnerar-componentes-0-x-contenedor_texto_arriba) {
  padding: 0 0 1rem 1rem;
}

:global(.render-route-store-home) :global(.vtex-flex-layout-0-x-flexRowContent--infocardsContent) {
  max-width: 1200px;
  margin: 1rem auto 3.5rem;
}
:global(.render-route-store-home) :global(.vtex-flex-layout-0-x-flexRowContent--infocardsContent) :global(.vtex-flex-layout-0-x-flexRowContent--inforcards) {
  width: 246px;
  height: 272px;
}

:global(.madeofpartnerar-componentes-0-x-managerChildContent--black-arrow) :global(.madeofpartnerar-slider-layout-0-x-caretIcon--slider-products-bg) {
  color: #3e3e3e !important;
}

@media (min-width: 768px) {
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--left-space) :global(.madeofpartnerar-componentes-0-x-productos--3) {
    margin-left: 5rem;
  }
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--five-images) {
  max-width: 1182px;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--five-images) :global(.vtex-flex-layout-0-x-flexColChild--col-slider-infocards) {
  display: flex;
  justify-content: center;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--five-images) :global(.vtex-flex-layout-0-x-flexColChild--col-slider-infocards) :global(.vtex-store-components-3-x-infoCardContainer--slider-infocards) {
  margin: 0.5rem;
  height: 20vw;
}

@media (min-width: 768px) {
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--right-space) :global(.madeofpartnerar-componentes-0-x-productos--3) {
    margin-right: 5rem;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent):has(:global(.madeofpartnerar-componentes-0-x-content_countDown)) {
    display: flex;
    flex-direction: column;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent):has(:global(.madeofpartnerar-componentes-0-x-content_countDown)) :global(.madeofpartnerar-componentes-0-x-container_background_component) {
    order: 2;
  }
}
@media (max-width: 768px) {
  :global(.vtex-store-components-3-x-infoCardContainer--info-cards-class) {
    background-size: auto !important;
  }
}
:global(.vtex-rich-text-0-x-paragraph--banner-title-doble-image_title) span {
  font-size: 30px;
  line-height: 1.5;
}

:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-img-rounded) :global(.madeofpartnerar-componentes-0-x-container_background_component) {
  max-width: 1070px;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-img-rounded) :global(.madeofpartnerar-componentes-0-x-fondos) :nth-child(even) {
  border-radius: 12px;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-img-rounded) :global(.madeofpartnerar-slider-layout-0-x-caretIcon--slider-products-bg) {
  color: #2b2b2b;
}

@media (max-width: 768px) {
  :global(.madeofpartnerar-componentes-0-x-managerChild):has(:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-img-rounded)) {
    margin: 2.5rem 0;
  }
  :global(.madeofpartnerar-componentes-0-x-managerChildContent--background-img-rounded) :global(.madeofpartnerar-componentes-0-x-container_background_component--1) :global(.madeofpartnerar-componentes-0-x-contenedor_texto_arriba--1) {
    margin-bottom: 0.2rem;
  }
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-row) :global(.madeofpartnerar-componentes-0-x-slider_product--3) {
  padding: 0 2rem;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-row) :global(.madeofpartnerar-componentes-0-x-slider_product--3) :global(.madeofpartnerar-componentes-0-x-productos--3) {
  max-width: 100%;
}
:global(.madeofpartnerar-componentes-0-x-managerChildContent--background-row) :global(.madeofpartnerar-componentes-0-x-slider_product--3) :global(.madeofpartnerar-componentes-0-x-productos--3) :global(.madeofpartnerar-componentes-0-x-contenedor_texto_arriba--3) {
  max-width: 450px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--connectif-block) > div {
  width: 100% !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--connectif-block) > div:empty {
  width: auto !important;
}

:global(.madeofpartnerar-componentes-0-x-managerChildContent):has(:global(.vtex-flex-layout-0-x-flexRow--infocard-banner-text)) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}
