/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
.biggy-autocomplete {
  border-radius: 24px;
  flex-direction: column !important;
  padding: 1rem 1.5rem;
}
.biggy-autocomplete .itemList {
  max-width: 100%;
  overflow: auto;
  background: #fff;
}
.biggy-autocomplete .itemList .itemListTitle {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #c4c4c4;
}
.biggy-autocomplete .itemList .itemListLinkTitle,
.biggy-autocomplete .itemList .itemListSubItemLink {
  color: #0b0b6d;
  font-size: 14px;
  font-weight: 500;
}
.biggy-autocomplete .itemList .itemListSubItemLink {
  font-size: 13px;
}
.biggy-autocomplete .tileList {
  background: #fff;
  border: none;
}
.biggy-autocomplete .tileList .tileListTitle {
  color: #0b0b6d;
  font-size: 14px;
  padding-left: 0;
  font-weight: 500;
}
.biggy-autocomplete .tileList .tileListList {
  flex-direction: column !important;
  align-items: flex-start;
}
.biggy-autocomplete .tileListItem {
  width: 100%;
}

@media (max-width: 768px) {
  .biggy-autocomplete-wrapper {
    width: 95vw;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete {
    left: 0;
    flex-direction: column !important;
  }
}
