/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
.flexRow--footer-container {
  background-color: transparent;
  padding: 3rem 4rem 1rem 4rem;
}

.flexRow--footer-firts-container,
.flexRow--footer-second-container {
  padding: 2rem 1rem;
  border-bottom: 1px solid #c4c4c4;
}

.flexCol--footer-mobile {
  justify-content: center;
  padding: 2rem;
  border-bottom: 1px solid #848484;
}
.flexCol--footer-mobile .flexColChild--footer-mobile {
  margin: auto;
}
.flexCol--footer-mobile .flexColChild--footer-mobile .flexRowContent--footer-info-social {
  margin-bottom: 1rem;
}
.flexCol--footer-mobile .flexColChild--footer-mobile .flexRowContent--footer-info-social :global(.vtex-store-components-3-x-imageElement) {
  margin: 0 0.7rem;
}
