.link--footer-regret-button {
  border-radius: 17.53px;
  border: 0.665px solid #2b2b2b;
  background: rgba(43, 43, 43, 0);
  text-decoration: none;
  max-width: 170px;
  height: 20px;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
.link--footer-regret-button .label {
  color: #2b2b2b;
  text-align: center;
  font-size: 9.739px;
  font-weight: 500;
}
