/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
.link--footer-regret-button {
  border-radius: 17.53px;
  border: 0.665px solid #848484;
  background: rgba(43, 43, 43, 0);
  text-decoration: none;
  max-width: 170px;
  height: 20px;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
.link--footer-regret-button .label {
  color: #848484;
  text-align: center;
  font-size: 9.739px;
  font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexCol--footer-mobile) .link--footer-regret-button {
  max-width: unset;
  height: 28px;
  width: 250px;
  margin-bottom: 1.5rem;
  padding: 5.862px 23.446px;
}
:global(.vtex-flex-layout-0-x-flexCol--footer-mobile) .link--footer-regret-button .label {
  font-size: 14px;
}
