/* Breackpoints */
/* Colores */
/* Fuentes */
/* Ciculo Cantidad - Favoritos, Minicart... */
.imageElement--facebook-footer,
.imageElement--instagram-footer,
.imageElement--youtube-footer,
.imageElement--tiktok-footer {
  margin-right: 0.5rem;
}

.imageElement--footer-col-1__logo {
  margin-bottom: 1rem;
}

:global(.vtex-flex-layout-0-x-flexCol--footer-mobile) .imageElement--footer-col-1__logo {
  width: 193px;
}
