.flexRow--breadcrumb-container {
  max-width: 1039px;
}
.flexRow--breadcrumb-container .flexRowContent--breadcrumb-container .stretchChildrenWidth {
  justify-content: flex-start;
}

.flexRow--footer-cart .flexRowContent--footer-cart {
  flex-direction: column;
}
