@import '../VARS.scss';

.biggy-autocomplete {
    border-radius: 24px;
    flex-direction: column !important;
    padding: 1rem 1.5rem;
    .itemList {
        max-width: 100%;
        overflow: auto;
        background: #fff;
        .itemListTitle {
            color: $main-gray;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 1rem;
            padding: 0 0 1rem 0;
            border-bottom: 1px solid $fourth-gray;
        }
        .itemListLinkTitle,
        .itemListSubItemLink {
            color: $main-blue;
            font-size: 14px;
            font-weight: 500;
        }
        .itemListSubItemLink {
            font-size: 13px;
        }
    }

    .tileList {
        background: #fff;
        border: none;
        .tileListTitle {
            color: $main-blue;
            font-size: 14px;
            padding-left: 0;
            font-weight: 500;
        }
        .tileListList {
            flex-direction: column !important;
            align-items: flex-start;
        }
    }

    .tileListItem {
        width: 100%;
    }
}

@media (max-width: $phone) {
    .biggy-autocomplete-wrapper {
        width: 95vw;
        .biggy-autocomplete {
            left: 0;
            flex-direction: column !important;
        }
    }
}
