@import './VARS.scss';

.openIconContainer--menu-mobile {
    padding: 10px 8px 8px;
}

.drawer--menu-mobile {
    width: 100% !important;
}

.childrenContainer--menu-mobile {
    width: 90%;
    margin-top: 2.8rem;
}

.closeIconContainer--menu-mobile {
    position: absolute;
    right: 20px;
}

.menuIcon--menu-mobile {
    color: $main-gray;
}
