/* ------------------------------GENERAL ------------------------------*/
@import './VARS.scss';

body {
    font-family: $poppins;
    overflow-x: hidden;
    margin: 0 !important;
    &::-webkit-scrollbar {
        width: 6px;
        height: 30px;
        display: block !important;
        padding-left: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: #e4e4e4;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 50px;
    }
}

/* FAVORITOS */
:global(.repdealberdiar-componentes-0-x-product_card_link) a {
    margin: 0;
    padding: 5px 12px;
    border-radius: 27px;
    background: #2b2b2b;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 135.9%;
    width: fit-content;
    text-transform: uppercase;
}

/* LOGIN POPUP */
:not(:global(.render-route-store-login)) {
    .emailVerification {
        .backButton {
            :global(.vtex-button__label) {
                width: 85px;
                height: 25px;
            }
        }
        .sendButton {
            :global(.vtex-button) {
                width: 85px;
                height: 25px;
            }
        }
    }
    .optionsListItemContainer {
        display: none;
    }
    .optionsListItem:has(.googleOptionBtn) {
        order: 0;
        svg {
            display: none;
        }
        :global(.vtex-button) {
            height: 24px;
        }
        .oauthLabel {
            font-size: 0;
            .oauthProvider {
                display: none;
            }
        }
        .oauthLabel::before {
            content: 'INGRESAR CON GOOGLE';
            color: $main-color;
            text-align: center;
            font-size: 11px;
            font-weight: 700;
            line-height: 135.9%;
        }
        :global(.vtex-button__label) {
            display: flex;
        }
    }
    .optionsListItem:has(.accessCodeOptionBtn) {
        order: 1;
    }
    .optionsListItem:has(.emailPasswordOptionBtn) {
        order: 2;
    }
    .optionsListItem:has(.facebookOptionBtn) {
        display: none;
    }
    .loginOptionsContainer {
        padding-right: 39px;
        font-size: 0;
        height: 100%;
        min-height: 100%;
    }

    .loginOptionsContainer::before {
        content: 'ELEGÍ CÓMO INGRESAR A TU CUENTA';
        color: #2b2b2b;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 116.4%;
        max-width: 295px;
        display: flex;
        margin: 16px 0 30px;

        @media (max-width: $phone) {
            content: 'ELEGÍ CÓMO INGRESAR A TU CUENTA';
            white-space: nowrap;
        }
    }
}

/* LANDING LOGIN */
.contentAlwaysWithOptions {
    max-width: 644px;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.optionsListItem {
    margin-bottom: 20px;
}

.optionsListItem :global(.vtex-button),
.optionsListItem :global(.vtex-button):hover {
    border: none;
    background: transparent;
    min-height: auto;
    width: auto;
}

.optionsListItem :global(.vtex-button)::after {
    content: '';
    width: 100%;
    height: 1px;
    display: flex;
    background: #848484;
    margin-top: 6px;
}

.optionsListItem :global(.vtex-button__label) {
    padding: 0 !important;
    color: #848484;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.9%;
    text-align: left;
    width: fit-content;
}

.options {
    min-width: 314px;
}

.loginOptionsContainer .formTitle {
    display: none;
}

.contentForm .formTitle,
.contentForm .forgotPasswordForm .formSubtitle {
    margin: 16px 0 14px;
    color: $main-color;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0;
}

.contentForm .formSubtitle {
    margin: 0;
}

.contentForm .forgotPasswordForm .formSubtitle {
    margin: 16px 0;
}

.emailVerification .formTitle {
    font-size: 0;
    padding: 0;
}

.emailForm .formTitle::before {
    content: 'RECIBIR CÓDIGO DE ACCESO POR MAIL';
    font-size: 12px;
}

.contentForm {
    min-width: 308px;
    padding: 0 16px 0 43px;
    border-left: solid 1px #e5e5e5;
    height: 100%;
    min-height: 100%;
}

.formLinkContainer {
    margin-top: 20px;
}

.formLinkContainer .dontHaveAccount {
    color: $main-color;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 110.4%;
    text-decoration-line: underline;
}

.formLinkContainer .dontHaveAccount:hover,
.formLinkContainer .forgotPasswordLink:hover {
    opacity: 1;
}

.formLinkContainer .forgotPasswordLink {
    color: #2b2b2b;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    line-height: 110.4%;
    text-decoration: underline;
}

.formLinkContainer:has(.forgotPasswordLink) {
    margin-top: 0;
    padding: 0;
}

.inputContainer {
    border-radius: 4.43px;
}

.inputContainer :global(.vtex-input-prefix__group) {
    border: 0.738px solid #848484;
    height: auto;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
    padding: 7.383px 8.86px;
    color: #333;
    font-size: 11.813px;
    font-weight: 400;
    line-height: 17.72px;
}

.inputContainerEmail::before {
    content: 'Correo electónico*';
    color: #2b2b2b;
    font-size: 11.075px;
    font-weight: 400;
    line-height: 14.766px;
    margin-bottom: 3px;
    display: flex;
}

.inputContainerPassword::before {
    content: 'Contraseña*';
    color: #2b2b2b;
    font-size: 11.075px;
    font-weight: 400;
    line-height: 14.766px;
    margin-bottom: 3px;
    display: flex;
}

.inputContainerAccessCode::before {
    content: 'Código de acceso*';
    color: #2b2b2b;
    font-size: 11.075px;
    font-weight: 400;
    line-height: 14.766px;
    margin-bottom: 3px;
    display: flex;
}

.formFooter {
    border: none;
    padding-top: 24px;
    width: fit-content;
    gap: 10px;
    margin: 0 auto;
}

.formFooter :global(.vtex-button) {
    min-height: fit-content;
    border: 1px solid $main-color;
    background: $main-color;
    border-radius: 55px;
    width: 85px;
}

.formFooter :global(.vtex-button__label) {
    padding: 5px 14px !important;
}

.formFooter :global(.vtex-button__label) span {
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 135.9%;
    text-transform: uppercase;
}

.formFooter .sendButton,
.formFooter .backButton {
    width: auto;
    margin: 0;
}

.backButton :global(.vtex-button) {
    background: white;
}

.backButton :global(.vtex-button__label) span {
    color: $main-color;
}

.backButton :global(.vtex-button__label) > span > div:has(svg.arrowBackIcon) {
    display: none;
}

.eyeIcon--visible svg,
.eyeIcon--invisible svg {
    display: none;
}

.eyeIcon--visible::before,
.eyeIcon--invisible::before {
    content: '';
    width: 17.72px;
    min-width: 17.72px;
    height: 17.72px;
    min-height: 17.72px;
    background: url(assets/icons/eye-black-icon.svg) no-repeat center center;
    display: flex;
}

.emailAndPasswordForm .formTitle::before {
    content: 'INGRESAR CON MAIL Y CONTRASEÑA';
    font-size: 12px;
}

.sendButton {
    :global(.vtex-button) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 31px;

        :global(.vtex-button__label) {
            & span {
                font-size: 0;
            }

            &::before {
                content: 'ENVIAR';
                font-size: 0.8rem;
            }
        }
    }
}

.formLinkContainer .dontHaveAccount {
    font-size: 0;

    &::before {
        content: '¿No tienes cuenta?';
        font-size: 0.9rem;
    }

    &::after {
        content: ' ¡Regístrate!';
        font-size: 0.9rem;
        font-weight: 700;
    }
}

/* MODAL LOGIN */

.box {
    right: -38px !important;
    width: 315px;
}

.box .arrowUp {
    width: 1rem;
    right: 16px;
}

.box .content {
    padding: 24px;
    border-radius: 12px;
}

.box .contentContainer {
    border-radius: 12px;
}

.box .contentForm,
.box .loginOptionsContainer {
    padding: 0;
    border: none;
    min-width: 100%;
}

.box .options {
    min-width: 100%;
}

.box .loginOptionsContainer::before {
    margin: 0 0 14px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    max-width: 100%;
}

.box .optionsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box .optionsListItem {
    margin: 0;
}

.box .optionsListItem :global(.vtex-button) {
    border-radius: 55px;
    border: 1px solid $main-color;
    width: 100%;
}

.box .optionsListItem :global(.vtex-button__label) {
    padding: 5px 14px !important;
    color: $main-color;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 135.9%;
    margin: auto;
}

.box .optionsListItem :global(.vtex-button)::after {
    content: none;
}

.box .contentForm .formTitle,
.box .contentForm .forgotPasswordForm .formSubtitle {
    margin-top: 0;
}

/* HEADER */
:global(.vtex-login-2-x-container) {
    background-image: url('assets/icons/header-login-icon.svg');
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    background-size: 25px;
}

:global(.vtex-category-menu-2-x-sidebarContainer) div {
    padding: 7px;
}

:global(.vtex-login-2-x-label) {
    padding: 0;
    font-size: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--container-image):nth-last-child(
        -n + 3
    ) {
    position: absolute;
    z-index: 9;
}

:global(.vtex-flex-layout-0-x-flexColChild--container-image):nth-last-child(3) {
    width: 100%;
}

/*---------- FICHA -------------*/

:global(.vtex-checkbox__inner-container.bg-action-primary) {
    background-color: $main-yellow;
}

:global(.vtex-stack-layout-0-x-stackItem--product):has(
        :global(.repdealberdiar-componentes-0-x-button_add_to_list)
    ) {
    display: none;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--view-product-col-product-main-desktop
    )
    > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 62.54% !important;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--view-product-col-product-main-desktop
    )
    > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 30.336% !important;
}

:global(.repdealberdiar-componentes-0-x-cuota) img {
    margin-right: 6px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
    :global(.repdealberdiar-componentes-0-x-tituloSinContador)
    span,
:global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
    :global(.repdealberdiar-componentes-0-x-tituloContador)
    span,
:global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
    :global(.repdealberdiar-componentes-0-x-tituloConContador)
    span {
    color: $main-color;
    font-size: 10.023px;
    font-weight: 700;
    line-height: 99.4%;
}

:global(.repdealberdiar-componentes-0-x-modal):has(
        :global(.repdealberdiar-componentes-0-x-contenido_modal)
    ) {
    background: #fff !important;
}

/* PRODUCT IMAGE */
:global(.vtex-stack-layout-0-x-stackItem):nth-child(2) {
    z-index: 4 !important;
    max-height: 600px;
}

:global(.vtex-numeric-stepper-container),
:global(.vtex-numeric-stepper__minus-button),
:global(.vtex-numeric-stepper__plus-button) {
    border: 0.679245px solid #c4c4c4;
    border-radius: 41.005px;
    width: max-content;
}

:global(.vtex-numeric-stepper__input),
:global(.vtex-numeric-stepper__plus-button-container),
:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
    border: none;
    background: none;
}

:global(.vtex-numeric-stepper__input) {
    width: 55px;
    font-weight: 600;
    font-size: 12px;
}

:global(.vtex-numeric-stepper__plus-button) {
    width: 39.05px !important;
    justify-content: center;
}

:global(.vtex-numeric-stepper__minus-button) {
    width: 39.05px !important;
    justify-content: center;
}

:global(.vtex-numeric-stepper__input) {
    color: #2b2b2b;
}

:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
    color: $main-color;
}

:global(.vtex-numeric-stepper__plus-button):disabled,
:global(.vtex-numeric-stepper__minus-button):disabled {
    color: #848484;
}

:global(.vtex-product-customizer-2-x-productAssemblyGroupNameRow) > div {
    width: max-content;
}

:global(.vtex-product-customizer-2-x-itemContainer):focus-visible {
    outline: none;
}

:global(.repdealberdiar-componentes-0-x-menuLista_link) a {
    color: white !important;
    font-size: 14px;
}

:global(.repdealberdiar-componentes-0-x-menuLista_link_active) a {
    background-color: $main-color !important;
}

:global(.vtex-breadcrumb-1-x-arrow):nth-child(3) {
    font-weight: bold;
}

/* MINICART */
:global(.vtex-product-list-0-x-inputContainer) input {
    color: #555;
    text-align: center;
    font-size: 12.2px;
    font-weight: 600;
    line-height: 110.4%;
    font-family: 'Poppins', sans-serif;
}

:global(.vtex-product-list-0-x-quantitySelectorButton) svg {
    color: $main-color;
    width: 10px;
}

:global(.vtex-toast) {
    background: $main-color;
}

:global(.vtex-flex-layout-0-x-flexColChild--minicart-product-list-container) {
    :global(.vtex-product-list-0-x-quantitySelectorDecrease) svg {
        color: $third-gray;
    }
}

/* ------------------------------DESKTOP ------------------------------*/

:global(.vtex-flex-layout-0-x-flexRowContent--sticky-desktop)
    > div:nth-child(2) {
    width: 940px !important;
}

:global(
        .vtex-flex-layout-0-x-flexRow--contenido-texto-full-banner-texto
    ):global(
        .vtex-flex-layout-0-x-flexRowContent--contenido-texto-full-banner-texto
    ) {
    background-color: red;
}

/*----------- Ficha -------------*/
:global(
        .vtex-flex-layout-0-x-flexRow--view-product-col-product-main
            .madeofpartnerar-componentes-0-x-modal
    ) {
    background-color: #fff !important;
}

/* ------------------------------TABLET ------------------------------*/

@media screen and (max-width: 1025px) {
    /* HEADER */
    :global(.vtex-login-2-x-container) {
        padding: 10px;
    }

    /* FICHA */
    :global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
        :global(.repdealberdiar-componentes-0-x-tituloConContador)
        span,
    :global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
        :global(.repdealberdiar-componentes-0-x-tituloContador)
        span,
    :global(.vtex-flex-layout-0-x-flexRowContent--view-product-row)
        :global(.repdealberdiar-componentes-0-x-tituloSinContador)
        span {
        font-size: 12px;
    }
}

/* ------------------------------MOBILE ------------------------------*/

@media screen and (max-width: 639px) {
    /* LANDING LOGIN */
    .contentAlwaysWithOptions {
        margin: 32px 30px;
        display: flex;
    }

    .contentForm,
    .loginOptionsContainer {
        padding: 0;
        border: none;
        width: 100%;
    }

    .contentForm .formTitle,
    .contentForm .forgotPasswordForm .formSubtitle {
        margin-top: 0;
    }

    .contentForm .formTitle::before,
    .contentForm .forgotPasswordForm .formSubtitle {
        font-size: 16px;
        line-height: 29.559px;
        letter-spacing: 0.616px;
        color: $main-gray;
    }

    .inputContainerEmail::before,
    .inputContainerPassword::before,
    .inputContainerAccessCode::before {
        font-size: 13.712px;
    }

    .inputContainer :global(.vtex-styleguide-9-x-input) {
        padding: 9.141px 10.969px;
        font-size: 14.626px;
        line-height: 21.939px;
    }

    .formLinkContainer .forgotPasswordLink {
        font-size: 12.381px;
    }

    .formFooter {
        padding-top: 30px;
        max-width: 80%;
        width: 100%;
    }

    .formFooter .sendButton,
    .formFooter .backButton {
        width: 100%;
    }

    .formFooter .sendButton :global(.vtex-button),
    .formFooter .backButton :global(.vtex-button) {
        width: 100%;
    }

    .formLinkContainer:has(.dontHaveAccount) {
        margin-top: 25px;
    }

    .loginOptionsContainer {
        border-top: solid 1px #e5e5e5;
        margin-top: 20px;
        padding-top: 20px;
    }

    .loginOptionsContainer::before {
        content: 'ELEGÍ OTRAS OPCIONES PARA INGRESAR A TU CUENTA';
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        line-height: 21.059px;
        letter-spacing: 0.616px;
        margin: 0 0 20px;
        max-width: 100%;
        justify-content: center;
    }

    .optionsListItem {
        margin-bottom: 16px;
    }

    .optionsListItem :global(.vtex-button) {
        border-radius: 67.74px;
        border: 1.232px solid $main-gray;
        padding: 6.158px 17.243px;
        width: 100%;
    }

    .optionsListItem :global(.vtex-button)::after {
        content: none;
    }

    .optionsListItem :global(.vtex-button__label) {
        color: $main-gray;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 135.9%;
        margin: auto;
    }

    /* MODAL LOGIN */

    /* HEADER */
    :global(.vtex-login-2-x-label) {
        width: 18px;
        height: 18px;
        background-size: 18px;
    }

    :global(.repdealberdiar-componentes-0-x-menuLista_link) a {
        font-size: 11px;
    }

    /* FICHA */
    :global(.vtex-numeric-stepper__input) {
        width: 65px;
    }

    :global(.vtex-numeric-stepper__plus-button) {
        width: 29.9px !important;
    }

    :global(.vtex-numeric-stepper__minus-button) {
        width: 29.9px !important;
    }

    :global(.render-route-store-home)
        :global(.vtex-product-summary-2-x-brandName) {
        font-size: 10px;
    }

    :global(.render-route-store-home)
        :global(.repdealberdiar-product-price-0-x-sellingPriceValue) {
        font-size: 12px;
    }

    :global(.render-route-store-home)
        :global(.repdealberdiar-product-price-0-x-price_listPrice) {
        font-size: 9px;
        margin-top: 2px;
    }

    :global(.render-route-store-home)
        :global(.repdealberdiar-product-price-0-x-installments),
    :global(.render-route-store-home)
        :global(
            .vtex-product-specification-badges-0-x-badgeText--envio-gratis
        ) {
        font-size: 9px;
    }
}

:global(.repdealberdiar-componentes-0-x-menu) {
    margin: inherit !important;
}

:global(.repdealberdiar-componentes-0-x-titulo_menu) {
    color: white;
}

:global(.repdealberdiar-componentes-0-x-fa-bars)::before {
    color: white;
}

:global(.vtex-repdealberdiar-componentes-0-x-componente-icono) {
    color: white !important;
}

:global(.repdealberdiar-componentes-0-x-componente-icono--)::before {
    color: $main-color;
}

:global(.vtex-flex-layout-0-x-flexColChild--tab-layout-products:last-child) {
    background-image: url(/arquivos/trama-belgrano.svg);
    background-size: 100% 644px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 175px;
}

:global(.vtex-flex-layout-0-x-flexColChild--imaga-news-background)
    :global(
        .vtex-store-components-3-x-imageElement--image-text-button__images
    ) {
    border-radius: 0px !important;
    position: absolute;
    top: 0px;
    z-index: -9;
    width: 100%;
    left: 0px;
    object-fit: cover;
    height: inherit;
}

:global(.vtex-flex-layout-0-x-flexRow--newsletter):global(
        .vtex-store-components-3-x-container
    ) {
    width: 100% !important;
    height: 100% !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--newsletter) {
    z-index: 999999;
}

:global(.vtex-flex-layout-0-x-flexCol--imaga-news-backgroundMobile) {
    position: absolute;
    top: 0px;
    z-index: -9;
}

:global(.vtex-flex-layout-0-x-flexCol--imaga-news-backgroundMobile)
    :global(
        .vtex-store-components-3-x-imageElement--image-text-button__images
    ) {
    border-radius: 0px;
    width: 100%;
    object-fit: cover;
    height: inherit;
}

:global(.vtex-flex-layout-0-x-flexRow--content-image-banner-test)
    :global(.vtex-store-components-3-x-container) {
    padding: 0px !important;
}

/* Order Placed Icon */
:global(.vtex-order-placed-2-x-confirmationIconWrapper) svg {
    width: 75px;
    height: 75px;
}

:global(.vtex-order-placed-2-x-confirmationIconWrapper) svg path {
    stroke: #1f466b;
    width: 95px;
    height: 95px;
}

/* ------------------------------Row espeacial bloques brackground image ------------------------------*/
:global(.repdealberdiar-componentes-0-x-managerChildContent--row-especial)
    :global(
        .repdealberdiar-slider-layout-0-x-sliderLayoutContainer--slider-products-bg
    ) {
    flex: 0 0 calc(70% - 0px);
}

/*Gallery*/

:global(.vtex-flex-layout-0-x-flexRowContent--galleryResult) > div:first-child {
    max-width: 249px;
    width: 100% !important;
    margin-right: 60px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--galleryResult) > div:last-child {
    max-width: 730px;
    width: 100% !important;
}

:global(.vtex-slider__base-internal) :global(.vtex-slider__selector) {
    background-color: $main-color;
}

@media screen and (max-width: 768px) {
    :global(.vtex-stack-layout-0-x-stackItem--product):has(
            :global(.repdealberdiar-componentes-0-x-button_add_to_list)
        ) {
        display: block;
    }

    :global(.vtex-login-2-x-container) {
        padding: 7px;
        box-sizing: content-box;
        background-size: 24px;
    }

    :global(
            .vtex-flex-layout-0-x-flexColChild--tab-layout-products:last-child
        ) {
        background-image: url(/arquivos/trama-belgrano.svg);
        background-repeat: no-repeat;
        background-size: 943px 273px;
        background-position-y: bottom;
    }
}

:global(.ReactCollapse--content) > div {
    padding: 0 14px;
}

:global(.vtex-search-result-3-x-filterAccordionItemBox)
    :global(.vtex-checkbox__label) {
    color: #848484;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

/*Video*/

:global(.vtex-flex-layout-0-x-flexRow--iframe-video) {
    margin: 4rem 0;
    :global(.vtex-store-components-3-x-container) {
        padding: 0 !important;
        :global(.vtex-flex-layout-0-x-flexRowContent--iframe-video) {
            & :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                width: 100%;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                position: relative;

                & iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    /*Buscador*/
    :global(.vtex-store-components-3-x-portalContainer) {
        position: absolute !important;
        top: unset !important;
        left: 0px !important;
        right: 0 !important;

        :global(.vtex-store-components-3-x-portalWrapper) {
            pointer-events: auto;
            & > div {
                left: 0 !important;
                right: 0 !important;
                top: 0 !important;
                & > div {
                    left: 0;
                    right: 0;
                    :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
                        width: 46vw !important;
                    }
                }
            }
        }
    }
}

:global(.vtex-flex-layout-0-x-flexRowContent--connectif-block) {
    & > div {
        width: 100% !important;
        &:empty {
            width: auto !important;
        }
    }
}
