@import '../VARS.scss';

.flexRow--background-grid-left-small-new_row {
    max-width: 1075px;
    margin: auto;
    .flexRowContent--background-grid-left-small-new_row {
        justify-content: space-between;
        .flexCol--background-grid-left-small-new_col {
            min-width: 720px;
            justify-content: space-between;
            :global(.vtex-product-summary-2-x-containerNormal--product-shelf) {
                margin-bottom: 0;
            }
        }
    }
}

.flexRow--double-col-slider {
    height: 365px;
    max-width: 1232px;
    margin: 2rem auto;
    .flexRowContent--double-col-slider {
        align-items: center;
        justify-content: center;
        .flexCol--double-col-slider-col1 {
            justify-content: space-between;
            .flexColChild--double-col-slider-col1:first-child {
                margin-bottom: 0.5rem;
            }
        }
        :global(
                .vtex-slider-layout-0-x-sliderTrackContainer--double-col-slider
            ) {
            width: 740px;
        }
        :global(.vtex-slider-layout-0-x-sliderLeftArrow--double-col-slider) {
            left: -6%;
        }
        :global(.vtex-slider-layout-0-x-sliderRightArrow--double-col-slider) {
            right: -6%;
        }
    }
}
@media (max-width: $phone) {
    .flexRow--double-col-slider {
        height: 100%;
        :global(.vtex-store-components-3-x-container) {
            padding: 0;
            .flexRowContent--double-col-slider {
                display: flex;
                flex-direction: column-reverse;
                .flexCol--double-col-slider-col1 {
                    align-items: center;
                    margin: 1rem 0;
                    .flexColChild--double-col-slider-col1:first-child {
                        margin-bottom: 1rem;
                    }
                }
                .flexCol--double-col-slider-col2 {
                    max-width: 100vw;
                    :global(
                            .vtex-store-components-3-x-imageElement--double-col-slider
                        ) {
                        border-radius: 0;
                        width: 100%;
                    }
                }

                :global(.vtex-slider-layout-0-x-slide--double-col-slider) {
                    margin: 0;
                    :global(
                            .vtex-slider-layout-0-x-slideChildrenContainer--double-col-slider
                        ) {
                        :global(
                                .vtex-store-components-3-x-imageElement--double-col-slider
                            ) {
                            max-height: 390px !important;
                            width: 100vw;
                        }
                    }
                }
            }
        }
    }
}

.flexRow--infocard-banner-text {
    background-color: #fff;
    width: 100%;
    max-height: 295px;
    max-width: 600px;
    border-radius: 24px;
    box-shadow: -1px 4px 4px -1px rgba(135, 135, 135, 0.75);
    -webkit-box-shadow: -1px 4px 4px -1px rgba(135, 135, 135, 0.75);
    -moz-box-shadow: -1px 4px 4px -1px rgba(135, 135, 135, 0.75);
    :global(.vtex-store-components-3-x-container) {
        padding: 0;
    }
    .flexRowContent--content-text {
        align-items: flex-end;
    }

    .flexRow--content-1200 {
        padding: 0;
        .flexRowContent--content-imageText,
        .flexRowContent--content-imageText-inverted {
            .stretchChildrenWidth {
                width: 50% !important;
                .flexRow--content-image-banner {
                    .stretchChildrenWidth {
                        width: unset !important;
                    }
                }
            }
        }
    }
    :global(.vtex-store-components-3-x-imageElement--imageBanner) {
        max-width: 290px !important;
        border-radius: 0;
    }
    .flexRow--conntetLinkInfo {
        margin: 1.5rem 0 0;
        .flexRowContent--conntetLinkInfo {
            background-color: #000;
            height: 35px;
            padding: 5px 22px;
            .stretchChildrenWidth {
                :global(.vtex-store-link-0-x-link--linkUrl) {
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    text-wrap: nowrap;
                }
            }
        }
    }

    @media (max-width: $phone) {
        margin: 0.5rem 0;
        .flexRow--contnetInfo-banner {
            padding: 1rem;
            .flexRowContent--contnetInfo-banner {
                padding: 0;
                .flexRow--content-text {
                    width: 100%;
                }
            }
        }
        .flexRow--content-imageText {
            padding: 0;
        }
        .flexRowContent--content-imageText {
            display: flex;
            flex-direction: row;
            padding: 0;
            .flexRowContent--content-image-banner {
                height: 100%;
                .stretchChildrenWidth {
                    height: 100%;
                }
            }
        }
        .flexRow--conntetLinkInfo {
            margin: 0;
            .flexRowContent--conntetLinkInfo {
                height: 24px;
                width: 100px;
                padding: 0;
                justify-content: center;
                display: flex;
                align-items: center;
                .stretchChildrenWidth {
                    width: 100%;
                    :global(.vtex-store-link-0-x-link--linkUrl) {
                        font-weight: normal;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.flexRow--infocard-banner-text-inverted {
    margin-right: 1rem;
    .flexRowContent--content-imageText-inverted {
        .flexRowContent--content-text {
            align-items: flex-start;
            :global(.vtex-rich-text-0-x-paragraph--textBannerInfo) {
                text-align: left;
            }
        }
    }

    @media (max-width: $phone) {
        .flexRowContent--content-imageText-inverted {
            display: flex;
            flex-direction: row-reverse;
            padding: 0;
            .flexRowContent--content-image-banner {
                height: 100%;
                .stretchChildrenWidth {
                    height: 100%;
                }
            }
        }
    }
}
