@import '../VARS.scss';

.flexRow--background-grid-left-small-new_row {
    max-width: 1075px;
    margin: auto;
    .flexRowContent--background-grid-left-small-new_row {
        justify-content: space-between;
        .flexCol--background-grid-left-small-new_col {
            min-width: 720px;
            justify-content: space-between;
            :global(.vtex-product-summary-2-x-containerNormal--product-shelf) {
                margin-bottom: 0;
            }
        }
    }
}

.flexRow--double-col-slider {
    height: 365px;
    max-width: 1232px;
    margin: 2rem auto;
    .flexRowContent--double-col-slider {
        align-items: center;
        justify-content: center;
        .flexCol--double-col-slider-col1 {
            justify-content: space-between;
            .flexColChild--double-col-slider-col1:first-child {
                margin-bottom: 0.5rem;
            }
        }
        :global(
                .vtex-slider-layout-0-x-sliderTrackContainer--double-col-slider
            ) {
            width: 740px;
        }
        :global(.vtex-slider-layout-0-x-sliderLeftArrow--double-col-slider) {
            left: -6%;
        }
        :global(.vtex-slider-layout-0-x-sliderRightArrow--double-col-slider) {
            right: -6%;
        }
    }
}
@media (max-width: $phone) {
    .flexRow--double-col-slider {
        height: 100%;
        :global(.vtex-store-components-3-x-container) {
            padding: 0;
            .flexRowContent--double-col-slider {
                display: flex;
                flex-direction: column-reverse;
                .flexCol--double-col-slider-col1 {
                    align-items: center;
                    margin: 1rem 0;
                    .flexColChild--double-col-slider-col1:first-child {
                        margin-bottom: 1rem;
                    }
                }
                .flexCol--double-col-slider-col2 {
                    max-width: 100vw;
                    :global(
                            .vtex-store-components-3-x-imageElement--double-col-slider
                        ) {
                        border-radius: 0;
                        width: 100%;
                    }
                }

                :global(.vtex-slider-layout-0-x-slide--double-col-slider) {
                    margin: 0;
                    :global(
                            .vtex-slider-layout-0-x-slideChildrenContainer--double-col-slider
                        ) {
                        :global(
                                .vtex-store-components-3-x-imageElement--double-col-slider
                            ) {
                            max-height: 390px !important;
                            width: 100vw;
                        }
                    }
                }
            }
        }
    }
}
